<footer class="footer">
    <div class="container">
        <div class="footer-grid">
            <div class="footer-col logo-col">
                <img src="img/camaraPerdoesRodape.png" alt="Logo Prefeitura Rodapé">
                <p>© 2023 Prefeitura Municipal de [Nome da Cidade]. Todos os direitos reservados.</p>
            </div>
            <div class="footer-col">
                <h4>Navegação</h4>
                <ul>
                    <li><a href="#home">Início</a></li>
                    <li><a href="#servicos">Serviços</a></li>
                    <li><a href="#noticias">Notícias</a></li>
                    <li><a href="#transparencia">Transparência</a></li>
                    <li><a href="#contato">Contato</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Links Úteis</h4>
                <ul>
                    <li><a href="#">Legislação</a></li>
                    <li><a href="#">Perguntas Frequentes</a></li>
                    <li><a href="#">Mapa do Site</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Conecte-se</h4>
                <p>Siga-nos nas redes sociais para ficar por dentro das novidades.</p>
                <div class="social-links">
                    <a href="http://facebook.com/camaradeperdoes/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/camaradeperdoes/" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.youtube.com/channel/UCzkvzY-VZS4yM3XpIzuqmMw" target="_blank"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>